.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 18px;
	right: 100px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: var(--topicon-color);
	stroke-width: 2.5;
	transition: .15s;
}

#uniname{
	display: block;
}
.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}

@media screen and (max-width: 768px){

	.toggle-fullscreen-btn {
	display: none;
}
.outercontainer {
	position: fixed;
	right: 70px;
  
}
#uniname{
	display: none;
}

}

@media screen and (min-width: 768px){

	.toggle-fullscreen-btn {
	display: block;
}
.outercontainer {
	position: fixed;
	right: 150px;
  
}

#uniname{
	display: block;
}

}