{% extends "layouts/base-lms.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card topbanner">

                <h1 style="welcometext">Welcome, Omer Khan</h1>
                <br>
                <form>
                    <input type="submit" value="Go to Exam" name="register" class="roundbutton solid" />
                </form>
                <img src="./static/assets/img/manlaptop.png" class="cardimg">
            </div>
            
        </div>
        <div class="col-sm-12 col-md-6  col-lg-6">
            dufjh
        </div>

    </div>
</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
